.blogItemInfo {
    display: flex;
    justify-content: space-between;
}

.Title {
    font-size: 65px;
}

.blogItemLeft {
    justify-content: center;
}

.blogItemLeft p {
    font-size: 20px;
}

.tealLine {
    background-color: teal;
}

.blogBody {
    height: fit-content;
    background-color: rgba(0, 128, 128, 0.5);
    box-shadow: 1px 3px 5px rgb(0 0 0 / 10%);
    padding: 1em;
    position: relative;
    white-space: pre-wrap;
}

button {
    margin: 50px;
    width: 100px;
    background-color: teal;
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 8px;
}
