@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @media only screen and (max-width: 768px) {
    .BlogList {
        grid-template-columns: auto auto;
    }
} */

/* a.BlogList {
    text-decoration: none;
} */

.form-control {
    max-width: 500px;
    margin: 10px;
}

.createBlog {
    max-width: 520px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.createBlog label {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: teal;
    font-size: 0.9em;
    /* width: 500px; */
    text-align: left;
}

textarea {
    height: 150px;
}

.createBlogTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: teal;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.BlogList {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
}

.BlogList .blogItem {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px rgba(0, 128, 128, 0.409) solid;
    background-color: white;
    /* width: 400px; */
    /* height: 100px; */
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgb(0 0 0 / 10%);
}

.blogItemLeft {
    display: flex;
    flex-direction: column;
}
.blogItemRight {
    display: flex;
    align-items: center;
}

.blogItemTitle {
    z-index: 10;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* color: teal; */
    font-size: 1.3em;
}
